<div class="row" id="addclassifiedrow" ng-hide="formDisplay">
	<div class="container">
		<form class="row" id="addclassified">
			<div class="col-sm-12">
				<h2 class="tac bold">Add a new Restaurant</h2> <br>
			</div>
			<div class="col-sm-3">
				<input type="Name" class="form-control" name="title" ng-model="rest.title" placeholder="Title" id="newTitle" required>
			</div>
			<div class="col-sm-3">
				<input type="text" class="form-control" ng-model="rest.description" placeholder="Description" required>
			</div>
			<div class="col-sm-3">
				<input type="text" class="form-control" ng-model="rest.price" placeholder="Price" required>
			</div>
			<div class="col-sm-3">
				<input type="text" class="form-control" ng-model="rest.city" placeholder="City" required>
			</div>
			<div class="col-sm-3">
				<input type="text" class="form-control" name="name" ng-model="rest.contact.name" placeholder="Contact Name">
			</div>
			<div class="col-sm-3">
				<input type="phone" class="form-control" ng-model="rest.contact.phone" placeholder="Contact Phone">
			</div>
			<div class="col-sm-3">
				<input type="email" class="form-control" ng-model="rest.contact.email" placeholder="Contact Email">
			</div>
			<div class="col-sm-3">
				<input type="text" class="form-control" ng-model="rest.image" placeholder="Image link">
			</div>
			<div class="col-sm-6">
				<button class="btn btn-primary" ng-show="!saveEdit" ng-click="submitListing(rest)">Submit</button>
				<button class="btn btn-primary" ng-show="saveEdit" ng-click="submitListing(rest)">Save Edit</button>
			</div>
			<div class="col-sm-6">
				<button class="btn btn-danger" ng-click="showHidePanel()">Cancel</button> <br><br>
			</div>
		</form>
	</div>
	<hr>
</div>
<div class="row" id="filtersection">
	<div class="container">
		<div class="col-sm-3">
			<div class="checkbox">
			<label><input type="checkbox" ng-model="servesAlchohol" id="alcohol" ng-change="serAlcFun()">Serves alcohol</label>
			</div>
		</div>
	</div>
</div>
<div class="row" id="displayListings">
	<div class="container">
		<div class="col-sm-4" ng-repeat="rest in a = (some = (restaurants | filter: { city: cityFilter.city} | filter: normalFilter | filter: servesAlchohol | filter: ruman ) | limitTo: onlySix)">
			<div class="listingbox">
				<img ng-src="{{rest.image}}" class="img-responsive listingimage">
				<div class="listdata">
					<a href="#/{{rest.id}}"><span class="bold listtitle">{{rest.title}}</span></a>
					<p><strong>Description:</strong> {{rest.description | limitTo: letterLimit}} <br>
						<strong>City:</strong> {{rest.city}} <br>
						<strong>Cost for two:</strong> {{rest.price | currency}}
					</p>
				</div>
				<button ng-click="editlist(rest)" class="btn btn-default" id="editbutton" >Edit</button>
			</div>
		</div>
		<div ng-show="restaurants.length > onlySix" class="col-sm-12">
			<button class="btn btn-default btn-lg btn-block loadmorebutton" ng-click="loadMore()" ng-hide="hideLoadMore">Load More</button>
		</div>
	</div>
</div>