<div class="row" id="displayListings">
	<div class="container">
		<div class="col-sm-4" ng-repeat="rest in a = (some = (restaurants | filter: { city: cityFilter.city} | filter: normalFilter) | limitTo: onlySix)">
			<div class="listingbox">
				<img ng-src="{{rest.image}}" class="img-responsive listingimage">
				<div class="listdata">
					<a href="#/{{a.indexOf(rest)+1}}"><span class="bold listtitle">{{rest.title}}</span></a>
					<p><strong>Description:</strong> {{rest.description | limitTo: letterLimit}} <br>
						<strong>City:</strong> {{rest.city}} <br>
						<strong>Cost for two:</strong> {{rest.price | currency}}
					</p>
				</div>
			</div>
		</div>
		<div ng-show="restaurants.length > onlySix" class="col-sm-12">
			<button class="btn btn-secondary btn-lg btn-block loadmorebutton" ng-click="loadMore()" ng-hide="hideLoadMore">Load More</button>
		</div>
	</div>
</div>